@import "tailwindcss";

@theme {
  --font-sans: "Mulish", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
@custom-variant dark (&:where(.dark, .dark *)); /* Dark Mode as a toggle */
@plugin "@tailwindcss/typography";

body {
  @apply m-0;
  font-family: -apple-system, BlinkMacSystemFont, "Mulish", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
